@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
	font-family: "Varela Round", sans-serif;
	min-width: 200px;
	color: white;
	background-color: #151515;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.credits {
	size: 100px;
	color: white;
	background-color: #151515;
	display: flex;
	justify-content: center;
	align-items: center;
}
a {
	color: wheat;
}
